.ui-box {
  margin-top: 16px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e6ecf5;
  margin-bottom: 16px;
  width: 100%;
}

.ui-box:first-child {
  margin-top: 32px;
}

.contents {
  position: relative;
  padding: 40px;
  border-bottom: 1px solid #e6ecf5;
}

.contents p {
  margin: 24px 0;
  font-size: 1.125em;
}

.more {
  position: relative;
  transition: all 0.3s ease;
  color: #888da8;
  fill: #c0c4d8;
}

.contents-accounts {
  margin-bottom: 20px;
}

.contents-accounts img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}

.inline-items > * {
  display: inline-block;
  vertical-align: middle;
}

.contents-date {
  margin-left: 8px;
}

.contents .contents-date a,
.contents .contents-accounts-name {
  font-weight: 700;
  font-size: 1.35em;
}

.contents-accounts .more {
  float: right;
  font-size: 16px;
}

.more i {
  width: 24px;
  height: 24px;
  color: #888da8;
}

.more i:hover {
  cursor: pointer;
  opacity: 0.4;
}

.featured-dropdown {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  width: 180px;
  box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
  background-color: #fff;
  border-radius: 4px;
  visibility: hidden;
  opacity: 1;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  text-align: left;
  padding: 16px 24px;
  z-index: 5;
}

.featured-dropdown a {
  padding: 8px 0;
  font-size: 12px;
  color: #515365;
  display: block;
  font-weight: 700;
}

.featured-dropdown ul {
  padding: 16px 24px;
  margin-bottom: 0;
}
.featured-dropdown li {
  list-style: none;
}
.featured-dropdown li a > * {
  display: inline-block;
  vertical-align: middle;
}

.featured-dropdown a:hover {
  color: #2a6496;
}

.more:hover .featured-dropdown {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.featured-dropdown .noti-list {
  padding: 0;
}

.noti-list .noti-text {
  padding-left: 16px;
  width: 76%;
  color: #202b3d;
}

.contents-info {
  padding: 24px 0 0;
  border-top: 1px solid #e6ecf5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
}

.contents-icon.likesOfMe {
  color: #38579b;
}

.like-and-reply {
  display: inline-block;
  vertical-align: middle;
}
.contents-info .contents-icon,
.comments .contents-icon {
  display: inline-block;
  margin-right: 24px;
  vertical-align: middle;
  font-size: 12px;
}
.contents-info .reply,
.comments .reply {
  margin-top: 2px;
  vertical-align: middle;
  font-size: 12px;
}

.contents-info .contents-icon svg,
.comments .contents-icon svg,
.contents-info .reply svg,
.comments .reply svg {
  margin-right: 4px;
}
